.div-father{
    margin-top: 5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background-color: var(--color-9);
    padding-left: 3%;
    padding-right: 3%;
}

.servicios{
    overflow-x: hidden;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'mm regular';
    margin-top: 2%;
}

.tarjeta-div{
    width: 15rem;
    height: auto;
    background-color: var(--color-1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5%;
    padding: 0.3%;
}

.btn-mas{
    width: 50%;
    background-color: var(--color-3);
    border: none;
    color: var(--color-9);
    font-size: larger;
    border: none;
    letter-spacing: 2px;
}

.btn-mas:hover{
    background-color: var(--color-3);
    color: var(--color-9);
    opacity: 0.8;
    border: none;
}

.color-lila{
    background-color: var(--color-4);
    color: #ffff;
}

.titulo-serv{
    margin-top: 2%;
    text-align: left;
}

.titulo-serv h1{
    font-size: 300%;
    font-family: 'mm regular';
    text-align: center;
}

.titulo-serv img{
    width: 1%;
}

.black{
    background-color: var(--color-9);
}

.color-yellow{
    background-color: var(--color-7);
}

.color-bronce{
    background-color: var(--color-8);
    color: var(--color-3);
}