.identidad{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'mm regular';
    margin-top: 2%;
}

.div-father-ident{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
    height: auto;
}

.div-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
}
.div-one-txt{
    width: 90%;
}

.div-one-txt h3{
    padding: 1%;
    font-size: 200%;
    border-bottom: 1px solid var(--color-9);
    letter-spacing: 1px;
}

.div-one-txt h5{
    margin-top: 1%;
    font-family: 'frutiger bold';
}

.preguntas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.img1-preg{
margin-top: 2%;
margin-left: 5%;
margin-right: 5%;
}

.img2-preg{
margin-top: 5%;
margin-right: 6%;
}

.img3-preg{
    margin-right:5%;
}

.div_two{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    align-items: center;
}

.plan{
    width: 33.33%;
    margin: 1%;
    height: 40rem;
    border-radius: 1.5%;
    padding:2%;
    box-shadow: 1px 1px 2px 1px grey;
}

.plan-img{
    width:33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan h2{
    text-decoration: underline;
}

.plan-style{
    display: flex;
    text-align: left;
    padding: 2%;
}

.personalizado{
    padding: 1%;
    letter-spacing: 1px;
    width: 80%;
}

.list-style{
    list-style-image: url('../../assets/list.png');
}

.font-secondary{
    font-family: 'frutiger bold';
}

.color-lila{
    border: none;
}